<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapped Face</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <!-- <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" /> -->
</head>
<body>
    <div class = "heading">
        <!-- style="margin-top: 20px;margin-bottom : 10px; text-align:center;"> -->
        <h2>FaceSwap WebApp : Make deepfake Images</h2>
    </div>
    <nav> 
        <div class="nav-fostrap">
            <ul>
                <li><a href="{{ url_for('home') }}" id="active">FaceSwap</a></li>
                <li><a href="{{ url_for('instructions') }}">Instructions </a>
                </li>
            </ul>
        </div>
        <div class="nav-bg-fostrap">
            <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
            <!-- <a href="{{ url_for('home') }}" class="title-mobile">FaceSwap</a> -->
        </div>
    </nav>
    <div class="compare">
        <div class="elements">
            <img src="static/uploaded_files/{{ img1 }}" alt="">
            <p>{{ img1 }}</p>
        </div>
        <div class="elements">
            <img src="static/uploaded_files/{{ img2 }}" alt="">
            <p>{{ img2 }}</p>
        </div>
        <div class="elements">
            <img src="static/output_files/{{ result }}" alt="">
            <p>{{ result }}</p>
        </div>
    </div>
    <div class="back_button">
        <button class="button" id="back_button">Back</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename ='index.js') }}"></script>

</body>
</html>